<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../control/head.ejs'); %>

</head>

<body>
 
        <header>
          <%- include('../control/nav.ejs') %> 
        </header>
    
   <!-------End Header-->
    

    <!----start Aboutme--->
     <div class="about" id="about">
       
        <%- include('../control/about.ejs') %> 
    </div> 


    <!----End Aboutme--->
    <!----start services--->
    <div class="services" id="services">
        <%- include('../control/services.ejs') %> 
    </div>
   <!-----------Star Pre_Work----->
    <div class="prework" id="prework">
        <%- include('../control/prework.ejs') %> 
        
    </div>

    <!----End services--->
    <!----Start Our-Skill--->
    <div class="myskill" id="Skill">
        <%- include('../control/skill.ejs') %> 
    </div>

    <!----End Our-Skill--->
    <!----End Our-Skill--->
    <!----------start My experiance-->

    <div class="myexper" id="exp">
        <%- include('../control/experiance.ejs') %> 
    </div>

    <!----------End My experiance-->
    <!----------Start Contact-->
    <div class="contact" id="contact me">
        <%- include('../control/contact.ejs') %> 
    
    </div>

    <!----------End Contact-->
    <!----------Start fotter-->
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <%- include('../control/footer.ejs') %> 
  
  </footer>
  <!-- Footer -->

    <!----------End footer-->
</body>

</html>